html { 
    background: url("background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Main Section                          *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* .landing-main {
    position: fixed;
    top: 5%;
    height: 5em;
    width: 100%;
  } */
  .portfolio-main {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 100%;
    height: 10em;
  }
  .qualifications-main {
    display: flex;
    flex-direction: row;
    gap: 5%;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 100%;
    height: 33em;
  }
  .service-main {
    display: flex;
    gap: 5%;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 100%;
    height: 33em;
  }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * * * * * *
/*                        Intro/Section Section                         *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.page-intro {
    border-radius: 25px;
    background: #f3ff74;
    position: fixed;
    top: 2%;
    left: 10%;
    width: 30%;
    height: 6em;
    box-shadow: 20px 15px 0px 5px #c9d304;
    font-size: 100%
}
.landing-sub-1 {
    border-radius: 25px;
    background: #f3ff74;
    position: fixed;
    top: 20%;
    left: 10%;
    height: 25em;
    width: 50%;
    box-shadow: 25px 20px 0px 10px #c9d304;
    font-size: 100%
}
.landing-section-1 > h3 {
    margin-left: 2.5%;
}
.landing-section-2 > p {
    margin-left: 2.5%;
}
.portfolio-section-1 {
    width: 40%;
    height: 150%;
    left: 5%;
    border-radius: 25px;
    background: #f3ff74;
    box-shadow: 25px 20px 0px 10px #c9d304;
    margin-bottom: 2%;
}
.portfolio-section-1 > h3 {
    margin-left: 5%;
}
.portfolio-section-1 > p {
    margin-left: 5%;
}
.portfolio-section-2 {
    width: 40%;
    height: 150%;
    border-radius: 25px;
    background: #f3ff74;
    box-shadow: 25px 20px 0px 10px #c9d304;    
}
.portfolio-section-2 > h3 {
    margin-left: 5%;
}
.portfolio-section-2 > p {
    margin-left: 5%;
}
.portfolio-section-3 {
    width: 40%;
    height: 150%;
    border-radius: 25px;
    background: #f3ff74;
    box-shadow: 25px 20px 0px 10px #c9d304;    
}
.portfolio-section-3 > h3 {
    margin-left: 5%;
}
.portfolio-section-3 > p {
    margin-left: 5%;
}
.portfolio-section-4 {
    width: 40%;
    height: 150%;
    border-radius: 25px;
    background: #f3ff74;
    box-shadow: 25px 20px 0px 10px #c9d304;    
}
.portfolio-section-4 > h3 {
    margin-left: 5%;
}
.portfolio-section-4 > p {
    margin-left: 5%;
}
.qualifications-section-1 {
    background: #f3ff74;
    height: 100%;
    width: 30%;
    border-radius: 25px;
    box-shadow: 25px 20px 0px 10px #c9d304;
}
  .qualifications-section-1 > h3 {
    font-size: 150%;
    margin-left: 5%;
  }
  .qualifications-section-1 > p {
    font-size: 100%;
    margin-left: 5%;
  }
  .qualifications-sub-1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .qualifications-section-2 {
    background: #f3ff74;
    height: 45%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 25px 20px 0px 10px #c9d304;
  }
.qualifications-section-2 > h3 {
    font-size: 150%;
    margin-left: 5%;
  }
  .qualifications-section-2 > p {
    font-size: 100%;
    margin-left: 5%;
  }
  .qualifications-section-3 {
    background: #f3ff74;
    height: 45%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 25px 20px 0px 10px #c9d304;
}
  .qualifications-section-3 > h3 {
    font-size: 150%;
    margin-left: 5%;
  }
  .qualifications-section-3 > p {
    font-size: 100%;
    margin-left: 5%;
  }

  .service-section-1 {
    background: #f3ff74;
    border-radius: 25px;
    box-shadow: 25px 20px 0px 10px #c9d304;
    height: 100%;
    width: 40%;
  }
  .service-section-1 > h3 {
    font-size: 150%;
    margin-left: 5%;
  }
  .service-section-1 > p {
    font-size: 100%;
    margin-left: 5%;
  }
  .service-section-2 {
    background: #f3ff74;
    border-radius: 25px;
    box-shadow: 25px 20px 0px 10px #c9d304;
    height: 100%;
    width: 40%;
  }
  .service-section-2 > h3 {
    font-size: 150%;
    margin-left: 5%;
  }
  .service-section-2 > p {
    font-size: 100%;
    margin-left: 5%;
  }

/* .service-section-1 {
    border-radius: 25px;
    background: #f3ff74;
    padding: 20px;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 170px;
    left: 200px;
    box-shadow: 25px 20px 0px 10px #c9d304;
    font-size: 100%
}

.service-section-2 {
    border-radius: 25px;
    background: #f3ff74;
    padding: 20px;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 170px;
    left: 700px;
    box-shadow: 25px 20px 0px 10px #c9d304;
    font-size: 100%
} */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Header Section                        *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header h1 {
    position: absolute;
    top: 30px;
    left: 200px;
}

header h2 {
    position: absolute;
    top: 50px;
    left: 220px;
}

.page-header {
    position: absolute;
    top: 25px;
    left: 30px;
    font-weight: bold;
    font-size: 30px;
}
.page-subheader {
    position: absolute;
    top: 55px;
    left: 30px;
    font-weight: bold;
    font-size: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Navigation Section                    *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.navigation {
    position: absolute;
	top: 1em;
    left: 1em;
    width: 100px;
}
.navigation a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    max-height: 80px;    
}
.navigation a:hover {
    opacity: .5;
    transform: translateX(20px);
}
.landing-icon {
    width: 48px;
    height: 80px;
    background-image: url("home_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.landing-icon-active {
    padding-bottom: 1em;
    width: 64px;
    height: 80px;
    background-image: url("home_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.portfolio-icon {
    width: 48px;
    height: 80px;
    background-image: url("portfolio_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.portfolio-icon-active {
    width: 64px;
    height: 80px;
    background-image: url("portfolio_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.qualifications-icon {
    width: 48px;
    height: 80px;
    background-image: url("qualifications_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.qualifications-icon-active {
    width: 64px;
    height: 80px;
    background-image: url("qualifications_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.service-icon {
    width: 48px;
    height: 80px;
    background-image: url("service_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.service-icon-active {
    width: 64px;
    height: 80px;
    background-image: url("service_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.ai-icon {
    width: 48px;
    height: 80px;
    background-image: url("ai_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.ai-icon-active {
    width: 64px;
    height: 80px;
    background-image: url("ai_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.switch-icon {
    display: block;
    width: 48px;
    height: 80px;
    background-image: url("switchtostrict.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    appearance: none;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    padding: 0em 0em 5em 0em;
}
.switch-icon:hover {
    opacity: .5;
    transform: translateX(20px);
}
.tath-sites-github-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 48px;
    height: 80px;
    background-image: url("github.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}
.tath-sites-linkedin-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 48px;
    height: 80px;
    background-image: url("linkedin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}