html { 
    background: url("altbackground.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  margin: 0;
}
a {
  color: #f2f2f2;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Header Section                        *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.page-intro {
  background-color: #333;
  font-size: 1.2em;
  color: #f2f2f2;
  padding: 2em 1em;
}
.page-header {
  display: inline;
  margin-left: 1em;
  padding-right: 10px;
  font-weight: bold;
}
.page-subheader {
  display: inline;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Main Section                          *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.landing-main {
  display: flex;
  justify-content: center;
  gap: 3%;
  position: fixed;
  top: 30%;
  height: 25em;
  width: 100%;
}
.portfolio-main {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  position: fixed;
  top: 20%;
  width: 100%;
  height: 30em;
}
.qualifications-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  position: fixed;
  top: 20%;
  width: 100%;
  height: 33em;
}
.service-main {
  display: flex;
  justify-content: center;
  gap: 5%;
  position: fixed;
  top: 20%;
  width: 100%;
  height: 33em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Page Sections                         *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.landing-sub-1 {
  display: flex;
  gap: 3%;
  justify-content: center;
  width: 100%;
}
.landing-sub-2 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.tath-picture {
  background-image: url(tath_main.png);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.landing-section-1 {
  background-color: #333;
  color: #f2f2f2;
  height: 15%;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);  
}
.landing-section-1 > h3 {
  margin-left: 3%;
  font-size: 100%;
  font-weight: bold;
}
.landing-section-2 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 40%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.landing-section-2 > p {
  margin-left: 3%;
  text-align: left;
  font-size: 180%;
}
.portfolio-section-1 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 22%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolio-section-1 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.portfolio-section-1 > p {
  font-size: 100%;
  margin-left: 5%;
}
.portfolio-section-2 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 22%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolio-section-2 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.portfolio-section-2 > p {
  font-size: 100%;
  margin-left: 5%;
}
.portfolio-section-3 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 22%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolio-section-3 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.portfolio-section-3 > p {
  font-size: 100%;
  margin-left: 5%;
}
.portfolio-section-4 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 22%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolio-section-4 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.portfolio-section-4 > p {
  font-size: 100%;
  margin-left: 5%;
}
.resume-pdf {
  background-image: url(resume.png);
  background-size: 100% 100%;
  height: 80%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.qualifications-section-1 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 30%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.qualifications-section-1 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.qualifications-section-1 > p {
  font-size: 100%;
  margin-left: 5%;
}
.qualifications-sub-1 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.qualifications-section-2 {
  background-color: #333;
  color: #f2f2f2;
  height: 45%;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.qualifications-section-2 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.qualifications-section-2 > p {
  font-size: 100%;
  margin-left: 5%;
}
.qualifications-section-3 {
  background-color: #333;
  color: #f2f2f2;
  height: 45%;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.qualifications-section-3 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.qualifications-section-3 > p {
  font-size: 100%;
  margin-left: 5%;
}
.service-section-1 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 40%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-section-1 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.service-section-1 > p {
  font-size: 100%;
  margin-left: 5%;
}
.service-section-2 {
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
  width: 40%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-section-2 > h3 {
  font-size: 150%;
  margin-left: 5%;
}
.service-section-2 > p {
  font-size: 100%;
  margin-left: 5%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Navigation Section                    *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.navigation {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  right: 1em;
}

.navigation a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 2em 1em;
  text-decoration: none;
  font-size: 1.2em;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.switch-icon {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: #f2f2f2;
  padding: 2em 1em;
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
}
.switch-icon:hover {
  background-color: #ddd;
  color: black;
}