html { 
    background: url("altbackground.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  margin: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Header Section                        *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.page-intro {
  background-color: #333;
  font-size: 1.2em;
  color: #f2f2f2;
  padding: 2em 1em;

}
.page-header {
  display: inline;
  margin-left: 1em;
  padding-right: 10px;
  font-weight: bold;
}
.page-subheader {
  display: inline;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Main Section                          *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.landing-main {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(tath_main.png);
  background-size: 100% 80%;
  background-color: #333;
  background-repeat: no-repeat;
  height: 70%;
  width: 25%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Into Section                          *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.landing-section-1 {
  position: relative;
  left: 5%;
  top: 80%;
  color: #f2f2f2;
}
.landing-section-1 > p {
  display: inline;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * *
/*                        Navigation Section                    *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.navigation {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  right: 1em;
}

.navigation a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 2em 1em;
  text-decoration: none;
  font-size: 1.2em;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.switch-icon {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: #f2f2f2;
  padding: 2em 1em;
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
}
.switch-icon:hover {
  background-color: #ddd;
  color: black;
}